@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome To Theo's Shop</h1>
    <p>Purchase and Buy Items</p>
    <p><a href="/Identity/Account/Manage">Click here to login or create an account to view and upload Products </a></p>
</div>

<div>
    <h2>Adding a new product to sell </h2>

    <h3> Click the all products page </h3>

    <div class="helpImage">
        <img src="~/images/help.jpg" width="650" height="200" />
    </div>
</div>

<div>
    <h3> Click the create new product listing button </h3>
    <div class="helpImage">
        <img src="~/images/help1.jpg" width="600" height="550" />
    </div>
</div>

<div>
    <h3> Fill in the fields for your product</h3>
    <div class="helpImage">
        <img src="~/images/help2.jpg" width="500" height="550" />
    </div>
</div>


